<!--<div class="columns has-text-centered" id="about">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png);"></div>
    </div>
</div>-->

<body>
    <section class="about">
        <header class="masthead">
            <h1 class="masthead-intro has-text-weight-bold">Rizzi Galibut</h1>
            <!--<h3 class="masthead-heading has-text-weight-medium">TITLE HERE</h3>-->
        </header>
        <section class="introduction">
            <div class="container">
                <h1 class="has-text-weight-bold">Introduction</h1><hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </section>

        <section class="education">
            <div class="container">
                <h1 class="has-text-weight-bold">Education</h1><hr>
                <p>I earned my Associate of Science degree in Physics in 2021 from San Diego Mesa College. I went on to earn my Bachelor of Science degree in Mechanical Engineering in 2024 from the University of California-San Diego.</p>
            </div>
        </section>

        <section class="experience">
            <div class="container">
                <h1 class="has-text-weight-bold">Experience</h1><hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </section>

        <section class="other">
            <div class="container">
                <h1 class="has-text-weight-bold">Other</h1><hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br><br>
                Please feel free to reach out -- I'm always excited to connect with like-minded professionals!
                </p>
            </div>
        </section>
    </section>
    <br><br>
</body>
